<!-- use _ to indicate it's partial -->
<label>Name</label>
<input type="text" name="name" value='<%= author.name%>'>
<!-- = tells the server to create whatever received and output to the page -->
<!-- this is what we call, body.name -->