<h2>New author</h2>
<form action="/authors" method="POST">
    <%- include('_form_field.ejs')%>
    <!-- use a instead of button is because a is used to link things while button is used to interact with forms and other objects -->
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>