<h2 class="page-header">New author</h2>
<form action="/authors/new" method="POST">
    <%- include('_form_field.ejs')%>
    <!-- use a instead of button is because a is used to link things while button is used to interact with forms and other objects -->
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-danger" href="/authors">Cancel</a>
</form>